absl-py==0.5.0
addict==2.2.0
anaconda-client==1.6.3
astor==0.7.1
Augmentor==0.2.3
backcall==0.1.0
BareNecessities==0.2.8
beautifulsoup4==4.7.1
bleach==1.5.0
blessings==1.7
Bottleneck==1.2.1
certifi==2019.6.16
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.1
coverage==4.5.2
cycler==0.10.0
cymem==2.0.2
Cython==0.29
cytoolz==0.9.0.1
dask==1.0.0
dataclasses==0.6
decorator==4.4.0
dill==0.2.8.2
easydict==1.9
entrypoints==0.2.3
et-xmlfile==1.0.1
fastai==1.0.41
-e git+https://github.com/jwyang/faster-rcnn.pytorch.git@7f562b39c1ef70c731cc93b6e96d024021eba880#egg=faster_rcnn&subdirectory=lib
fastprogress==0.1.18
future==0.17.1
gast==0.2.0
gpustat==0.5.0
grpcio==1.15.0
h5py==2.8.0
hickle==3.3.2
html5lib==0.9999999
hyperopt==0.1.1
icecream==1.4.0
idna==2.7
imageio==2.4.1
imgaug==0.2.9
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jdcal==1.4
jedi==0.13.3
Jinja2==2.9.6
jq==0.1.6
json-tricks==3.12.4
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-resnet==0.1.0
keras-retinanet==0.5.0
kiwisolver==1.0.1
Mail==2.1.0
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.1
mistune==0.7.4
mmcv==0.2.8
mmd==0.2.6
-e git+git@github.com:cizhenshi/mm.git@5d30d2907180eff5c4b3fc8f90771ddb16ea202d#egg=mmdet
msgpack==0.5.6
msgpack-numpy==0.4.3.2
munch==2.3.2
murmurhash==1.0.1
nb-anacondacloud==1.4.0
nb-conda==2.2.0
nb-conda-kernels==2.1.0
nbconvert==5.2.1
nbformat==4.4.0
nbpresent==3.0.2
networkx==2.2
ninja==1.8.2
nni==0.5.1
nni-sdk==0.5.1
nose==1.3.7
notebook==5.0.0
numexpr==2.6.9
numpy==1.15.2
nvidia-ml-py3==7.352.0
opencv-contrib-python==4.0.0.21
opencv-python==3.4.3.18
openpyxl==2.5.12
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
pretrainedmodels==0.7.4
progressbar2==3.38.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.6.0
pycocotools==2.0.0
pycparser==2.19
Pygments==2.4.2
PyHDFS==0.2.1
pymongo==3.7.2
pyparsing==2.3.0
python-dateutil==2.8.0
python-utils==2.3.0
pytorch-extras==0.1.3
pytz==2017.2
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
regex==2018.1.10
requests==2.20.1
RRPN==0.0.0
schema==0.6.8
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
sklearn==0.0
some-package==0.1
soupsieve==1.7.2
spacy==2.0.18
tensorboard==1.11.0
tensorboardX==1.4
tensorflow-gpu==1.11.0
termcolor==1.1.0
terminado==0.6
terminaltables==3.1.0
testpath==0.3
thinc==6.12.1
toolz==0.9.0
torch==1.1.0
torch-encoding==1.0.1+ce461da
torchfile==0.1.0
torchvision==0.3.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
typing==3.6.6
ujson==1.35
untokenize==0.1.1
urllib3==1.24.1
visdom==0.1.8.5
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xgboost==0.81
xlrd==1.2.0
yacs==0.1.6
